svg {}

path {
  stroke-width: 1px;
  fill: wheat;
  stroke: grey;
}

#header {
  text-align: center;
  display: block;
  font-family: Helvetica;
  font-size: 2.3em;
  background: rgba(0, 0, 0, 0.2);
  padding: 40px;
}
